Write an SQL statement to find the total number of user sessions each page has each day.
 (A user session is defined as continuous activity on a site where each activity is within 10 mins of each
other.)

 Link to the pageviews table csv file:
https://s3-ap-southeast-1.amazonaws.com/ms-data-coding-challenge/SamplePageviews.csv

In [2]:
# File location and type
file_location = "/FileStore/tables/SamplePageviews.csv"
file_type = "csv"

# CSV options
infer_schema = "false"
first_row_is_header = "true"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

In [3]:
# Create a view or table

temp_table_name = "SamplePageviews_csv"
df.createOrReplaceTempView(temp_table_name)
spark.sql("select * from SamplePageviews_csv").show()

In [4]:
%sql 
-- Completed
SELECT page_id, visit_date, count(user_id) from SamplePageviews_csv group by page_id,visit_date order by page_id,visit_date;

page_id,visit_date,count(user_id)
54,2018-01-01,1
54,2018-01-02,1
55,2018-01-01,4
55,2018-01-02,2
56,2018-01-02,4